.heading_slide {
    background: url('../src/images/bg_slide.jpg');
}
.carousel {
    width: 500px;
    height: 500px;
}

.title, .heading_admin {
    background-color: #176B87;
}
/* 
.header {
    background-image: url('../src/images/banner_log_sign.png');
} */

footer .gotop{
    background-color: #176B87;
	bottom: 20px;
	right: 20px;
	position: fixed;
	text-align: center;
	z-index: 100;
    border-color: black;
}

footer .gotop:hover {
    background-color: rgb(162, 150, 150) !important;
}

footer, .background {
    background-color: #176B87 !important;
}

header .navbar {
    background-color: #176B87;
}

.access-btn {
    color: white;
    border: none;
    background-color: #176B87;
}


.access-btn a {
    text-decoration: none;
    color: white;
    
}

.access-btn:hover {
    color: black;
    background-color: #C0C0C0 !important;
}

.access-btn a:hover {
    color: black;
}


.cart-btn {
    color: white;
    background-color: white;
    border: none;
    border-radius: 5px;
}

.cart-btn:hover {
    color: white;
    background-color: #C0C0C0 !important;
}

.cart-btn a {
    text-decoration: none;
    color: white !important;

}

footer .hotlinebtn {
    border: none ;
    background-color: #176B87;
}

footer .hotlinebtn:hover {
    width: 40px;
    color: black;
    background-color: black;
}

.nav-link:hover {
    color: #7c7c7c !important;
}

.exit-btn {
    border-radius: 5px;
    color: white;
    background-color: rgb(231, 64, 64);
    text-decoration: none !important;
    border-color: white;
}

.price_native {
    background-color: rgb(217, 212, 212);
}

.btn-addcart {
    background-color: #176B87;
    color: white;
    border-radius: 5px;
}

.btn-fav:hover {
    background-color: #C0C0C0 !important;

}
.btn-addcart:hover {
    background-color: rgb(114, 186, 210);
    color: black;
}

.btn-buy {
    background-color: rgba(255, 0, 0, 0.78);
    color: white;
    border-radius: 5px;
}

.btn-buy:hover {
    background-color: orange;
    color: black;
}

.login-btn {
    border: none    ;
    border-radius: 5px;
    background-color: #176B87; 
    color: #fff;
}

.login-btn:hover {
    color: white;
    background-color: #0b413a;
}

.imgfav {
    width: 200px;
    height: 150px;
}

/* #176B87 */